
<ion-view title="מחשבון">
  <ion-content class="has-header">
    <div class="list card"  style="text-align: right; padding-right:10px">
            <div class="item item-divider">מחשבון</div>
            <div class="item item-body">
                <form >
                    <label class="item item-input" name="fat">
                        <span class="input-label">(שומן (גרם</span>
                        <input type="number" ng-model="calcValues.fat">
                    </label>
                    <label class="item item-input" name="carbs">
                        <span class="input-label">(פחממות (גרם</span>
                        <input type="number" ng-model="calcValues.carbs">
                    </label>
                    <label class="item item-input" name="fiber">
                        <span class="input-label">(סיבים (גרם</span>
                        <input type="number" ng-model="calcValues.fiber">   
                    </label>
                    <label class="item item-input" name="protein">
                        <span class="input-label">(פרוטאין (גרם</span>
                        <input type="number" ng-model="calcValues.protein">    
                    </label>
                </form>
                <div class="button-bar">
                    <button class="button button-positive button-block" ng-click="reset()">נקה</button>
                    <button class="button button-positive button-block" ng-click="calculatePP()">חשב</button>

                </div>
                <div>
                    <p> {{calcValues.result}}
                        :נקודות
        
                    </p>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>

